* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/* common code */

.primary-clr {
  color: #fd6e0a;
}

.btn-primary {
    
    color: #ffff;
    background-color: #fd6e0a;
    font-weight: 700;
    font-size: 1.2rem;
    border: 0;
    border-radius: 5px;
    padding: 0.5rem 1rem;

}

.btn-secondary{
    background-color: white;
    color: #fd6e0a;
    border: 1px solid #fd6e0a;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png) , url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right , center left;
    background-size: 50rem, 4rem;
}

section{
    margin-top: 8rem;
}
.section-header{
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.section-description{

    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    color: #757575;
    margin-bottom: 2.2rem;
}
/* common code  end*/


/* Header and navigation style start */

nav {
  display: flex;
  justify-content: space-between;
  margin: 0 12rem;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  text-decoration: none;
  margin-left: 3rem;
}
.nav-title {
  font-weight: 800;
  font-size: 2rem;
}

/* Header and navigation style end */


/* banner start */

.banner{
    margin: 0 4rem 0 12rem;
    display: flex;
    align-items: center;
}

.bn-container{
    width: 50%;
}

.bn-img{
    width: 50%;
}

.banner-sub-title{
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.banner-title{
    font-weight: 700;
    font-size: 2.2rem;
    margin-bottom: 0.6rem;
}

.banner-descreption{
    color: #757575;
    margin-bottom: 1rem;
}

.hero{
    padding-top: 3px;
}
/* banner end */


/* about section style start */

main{
    max-width: 1140px;
    margin: 0 auto;
}

.about{
    background-color:  #FFF8F3;
    border-radius: 10px;
    padding: 8rem 9rem;
    text-align: center;
}


.about-info-container{
    display: flex;
    justify-content: space-evenly;
}

.about .info-title{
    font-weight: 400;
    font-size: 1rem;
    color: #757575;
}

.about .info-description{
    font-weight: 700;
    font-size: 1rem;
    color: #474747;
}

/* about section style end */


/* what i do section start */

.what-i-do{
    padding: 1rem;
}

.skill{
    background: #ffffff;
    box-shadow: 0 0.3rem 3rem rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.skill-container{
    display: flex;
    gap: 1.5rem;
}

.skill-title{
    font-weight: 700;
    font-size: 1.2rem;
    padding: 2rem 4rem 0 2rem;
}

.skill-description{
    font-weight: 400;
    font-size: 1rem;
    color: #757575;
    padding: 1rem;
}

.skill-img{
    padding: 2rem 10rem 0px 1.5rem;
}
/* what i do section end */


/* resume style start */
.resume-content{
    display: flex;
    gap: 5rem;
}

.resume-item, .resume-tittle{
    margin-bottom: 1.5rem;
}

.resume-item .title{
    margin-bottom: 0.7rem;
}

.resume-item .sub-title, .description{
    margin-bottom: 1rem;
}

.resume-btn{
    text-align: center;
}
/* resume style end */


/* contact style start */

.contact{
    display: flex;
    gap: 9rem;
    background-color: #FFF8F3;
    padding: 7rem 1rem 1rem 1rem;
}

.contact-left{
    width: 50%;
}
.contact-right{
    width: 50%;
}

.contact .section-title{
    text-align: left;
}


.contact input[type="text"], input[type="email"],textarea{
    margin-bottom: 1.5rem;
    border: none;
    padding-left: 1.1rem;
    width: 27rem;
    height: 2.7rem;
}

.contact textarea{
    height: 5rem;
}

.contact a{
    text-decoration: none;
}

.contact .section-title{
    font-size: 2rem;
    margin-bottom: 1.3rem;
}

.contact-description{
    margin: 10px 0;
}
/* contact style end */

/* responsive style start */

@media screen and (max-width: 576px){

    /* header start */

    .banner-btn{
        text-align: center;
    }
    .banner-btn .btn-primary{
       margin-bottom: 5px;
    }
    .banner{
        margin: 0rem;
        flex-direction: column;
    }
    
    .banner-sub-title{
        font-size: 1.2rem;
        margin-top: 5px;
        text-align: center;
    }
    
    .banner-title{
        font-size: 2rem;
        margin: 0.6rem 0;
        text-align: center;
    }
    
    .banner-descreption{
        color: #757575;
        text-align: center;
        margin-bottom: 1rem;
    }
    .banner img{
        width: 100%;
    }
    nav {
        flex-direction: column;
        margin: 0rem;
    }
    nav h2{
        text-align: center;
    }
    /* header end */

    /* about start */
    .about{
        padding: 2rem;  
    }
    .about-info-container{
        flex-direction: column;
    }
    /* about end */

    
    /* what i do style start */
    .skill-container{
        flex-direction: column;
        gap: 1rem;
    }
    .skill-title{
        font-size: 1rem;
        padding: 1rem 3rem 0 1rem;
    }
    
    .skill-description{
        font-size: 0.8rem;
        color: #757575;
        padding: 1rem;
    }
    .banner img{
        width: 100%;
    }
    nav {
        flex-direction: column;
        margin: 0rem;
    }
    nav h2{
        text-align: center;
    }
    /* what i do style end */


    /* resume style start */
    .resume-content{
        flex-direction: column;
        padding: 1rem;
        gap: 0rem;
    }
    /* resume style end */

    /* contact start */
    .contact{
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding: 3rem 0.5rem 0.5rem 0.5rem;
    }
    .contact input[type="text"], input[type="email"],textarea{
        margin-bottom: 1rem;
        border: none;
        padding-left: 1rem;
        width: 20rem;
        height: 2rem;
    }
    .contact .section-title{
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .contact-left{
        width: 100%;
    }
    .contact-right{
        width: 100%;
    }
    /* contact end */


}

@media screen and (min-width: 577px) and (max-width: 992px){

    /* header start */
    .banner-btn{
        text-align: center;
     }
    .banner{
        margin: 0rem;
        flex-direction: column;
    }
    
    .banner-sub-title{
        font-size: 1.2rem;
        margin-top: 5px;
        text-align: center;
    }
    
    .banner-title{
        font-size: 2rem;
        margin: 0.6rem 0;
        text-align: center;
    }
    
    .banner-descreption{
        color: #757575;
        text-align: center;
        margin-bottom: 1rem;
    }
    /* header end */

    /* about start */
    .about{
        padding: 2rem;
    }
    /* about end */

    /* what i do style start */
    .skill-container{
        gap: 1.2rem;
        flex-wrap: wrap;
        justify-content: center;
    }
    .skill{
        width: 40%;
    }
    /* what i do style end */

    /* resume style start */
    .resume{
        padding-left: 1.5rem;
    }
    .resume-content{
        padding: 1rem;
        gap: 2rem;
    }
    /* resume style end */

    /* contact start */
    .contact{
        gap: 7rem;
        margin: 1rem;
    }
    /* contact end */
    
}

.hide{
    display: none;
}

/* responsive style end */